<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activitats</title>
</head>
<body>
  <h1  style="text-align: center;">ACTIVITATS</h1>
<div style="text-align: center; margin: 20px;">
    <input 
      type="text" 
      id="searchInput" 
      placeholder="Busca aquí..." 
      style="padding: 10px; width: 300px; border: 1px solid #ccc; border-radius: 5px;">
    <button 
      onclick="searchFunction()" 
      style="padding: 10px; border: none; background-color: #ff0000; color: white; border-radius: 5px;">
      Buscar
    </button>
  </div>

  <div style="display: flex;justify-content: space-between; margin: 0 100px;">

    <div>
      <p>TIPUS D'ACTIVITATS</p>
      <select  style="height: 50px;width: 200px;">
        <option selected></option>
        {% for tipus in llistaTipus %}
          <option value="{{tipus.nom}}">{{tipus.nom}}</option>
        {% endfor %}
      </select>
    </div>


    <div class="filtres">
      <p>ESPAI</p>
      <select  style="height: 50px;width: 200px;">
        <option selected></option>
        {% for espai in llistaEspai %}
          <option value="{{espai.nom}}">{{espai.nom}}</option>
        {% endfor %}
      </select>
    </div>


    <div class="filtres">
      <p>RANG DE DATES</p>
      <input type="date">
      <input type="date">
    </div>

    <div>PREU</div>
    
    <div>
      <p>PAGINACIÓ</p>
      <select  style="height: 50px;width: 200px;">
      <option selected></option>
      <option value="8">8 activitats / página</option>
      <option value="12">12 activitats / página</option>
      <option value="16">16 activitats / página</option>
    </select>
  </div>
  </div>

    <!-- Llistat d'activitats -->
<div class="container mt-4">
  <h1 class="text-center">Activitats</h1>
  <ul class="list-group">
      {% if activitatLlista is not empty %}
          {% for activitat in activitatLlista %}
              <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='http://localhost/ABP-GS/activitat/{{ activitat.id }}'">
                  <div>
                      <h5 class="card-title">{{ activitat.nom }}</h5>
                      <p class="card-text">{{ activitat.descripcio_breu }}</p>
                  </div>
                  <!-- <a href="http://localhost/ABP-GS/activitat/{{ activitat.id }}" class="btn btn-danger">Veure més</a> -->
              </li>
          {% endfor %}
      {% else %}
          <li class="list-group-item text-center">No hi ha activitats disponibles.</li>
      {% endif %}
  </ul>
</div>
<!-- Fi del llistat d'activitats -->

<script>
  
</script>
</body>
</html>