
<h1  style="text-align: center;">ACTIVITATS</h1>
<div style="text-align: center; margin: 20px;">
    <input 
      type="text" 
      id="searchInput" 
      placeholder="Busca aquí..." 
      style="padding: 10px; width: 300px; border: 1px solid #ccc; border-radius: 5px;">
    <button 
      onclick="searchFunction()" 
      style="padding: 10px; border: none; background-color: #ff0000; color: white; border-radius: 5px;">
      Buscar
    </button>
  </div>

  <div style="display: flex;justify-content: space-between;">

    <div style="height: 50px;width: 200px;border: 1px solid black;">
      <select  style="height: 50px;width: 200px;">
        <option selected>TIPUS D'ACTIVITATS</option>
        {% for tipus in llistaTipus %}
          <option value="{{tipus.nom}}">{{tipus.nom}}</option>
        {% endfor %}
      </select>
    </div>


    <div class="filtres">
      <select  style="height: 50px;width: 200px;">
        <option selected>ESPAI</option>
        {% for espai in llistaEspai %}
          <option value="{{espai.nom}}">{{espai.nom}}</option>
        {% endfor %}
      </select>
    </div>


    <div class="filtres">
      <p>RANG DE DATES</p>
      <input type="date">
      <input type="date">
    </div>

    <div>PREU</div>
    <div>
      <select  style="height: 50px;width: 200px;">
      <option selected>PACINACIÓ</option>
      <option value="8">8</option>
      <option value="12">12</option>
      <option value="16">16</option>
    </select>
  </div>
  </div>
  <div></div>

  