<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-6">
        <form id="FrmSignup" action="signup" method="POST" class="form-signin">
            <h1 class="h3 mb-3 fw-normal text-center">Registra't</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="nom_usuari" id="usuari" placeholder="Usuari" required>
                        <label for="usuari">Usuari</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" id="correu" placeholder="Correu electrònic" required>
                        <label for="correu">Correu electrònic</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="contrasenya" id="contrasenya" placeholder="Contrasenya" required>
                        <label for="contrasenya">Contrasenya</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="confirmar_contrasenya" id="confirmar_contrasenya" placeholder="Confirma la contrasenya" required>
                        <label for="confirmar_contrasenya">Confirma la contrasenya</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="dni" id="dni" placeholder="DNI" required>
                        <label for="dni">DNI</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" required>
                        <label for="nom">Nom</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-control" name="prefix_telefon" id="prefix_telefon" required>
                            <option value="">Selecciona el prefix</option>
                            <option value="34">+34 - Espanya</option>
                            <option value="1">+1 - Estats Units</option>
                            <option value="44">+44 - Regne Unit</option>
                            <option value="49">+49 - Alemanya</option>
                            <option value="33">+33 - França</option>
                            <option value="39">+39 - Itàlia</option>
                            <option value="61">+61 - Austràlia</option>
                            <option value="81">+81 - Japó</option>
                        </select>
                        <label for="prefix_telefon">Prefix del Telèfon</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" name="telefon" id="telefon" placeholder="Telèfon" required>
                        <label for="telefon">Telèfon</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="cognoms" id="cognoms" placeholder="Cognoms" required>
                        <label for="cognoms">Cognoms</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="data_naixement" id="data_naixement" required>
                        <label for="data_naixement">Data de naixement</label>
                    </div>
                </div>
            </div>
            <button class="w-100 btn btn-lg" type="submit" style="background-color: #B71C1C; color: white;">Registrar</button>
            <p class="mt-5 mb-3 text-muted text-center">© 2024–2024</p>
        </form>
    </div>
    <div id='missatge' class="text-danger mt-3 text-center">{{ MISSATGE }}</div>
</div> 