<h1 class="text-center my-4">Llista d'editorials</h1>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Provincia</th>
				<th>Municipi</th>
				<th>Web</th>
				<th>Email</th>
				<th>Telèfon</th>
			</tr>
		</thead>
		<tbody>
			{% for editorial in editorials %}
				<tr>
					<td>{{ editorial['idEditorial'] }}</td>
					<td><strong><a href="./Editorial/{{ editorial['idEditorial'] }}">{{ editorial['nomEditorial'] }}</a></strong></td>
					<td>{{ editorial['provincia'] }}</td>
					<td>{{ editorial['municipi'] }}</td>
					<td>{{ editorial['web'] }}</td>
					<td>{{ editorial['email'] }}</td>
					<td>{{ editorial['telefon'] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<nav class="mt-4">
	<ul class="pagination justify-content-center">
		<li class="page-item"><a class="page-link" href="Editorial/alta">Nova Editorial</a></li>
	</ul>
</nav>